
@{
    ViewData["Title"] = "Bugs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bugs</h1>

<div class="card" style="width: 18rem;">
    <i class="pt-2 text-center fas fa-envelope fa-10x" style="color:red"></i>
    <hr />
    <div class="card-body">
        <h5 class="card-title">Email</h5>
        <p class="card-text">Right now the application is not sending emails for the users, will fix that soon.</p>
    </div>
</div>
