
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>About This Application</h1>
    <p class="lead">This section will talk about this application</p>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Bulky Book</h1>
            <p>
                This application was created to study ASP.NET Core and MVC
            </p>
            <hr />
            <p>
                This application was develope following the Bhrugen course in udemy about ASP.NET core and MVC.
                The core idea is add Books for diferent types of customer to buy.
                <ul>
                    <li>
                        You can add Books, categorys, companies and users
                    </li>
                    <li>
                        You can register a new User using filling up the fields in the register section or you can register via Google or Facebook
                    </li>
                    <li>
                        You can use 2 steps verification for your account.
                    </li>
                    <li>
                        Make payments via Stripe
                    </li>
                    <li>
                        Receive Emails via SendGrid
                    </li>
                    <li>
                        Receive SMS via Twilio
                    </li>
                </ul>
            </p>
            <hr />
            <p>
                You can use admin account to test
                <ul>
                    <li>
                        Email: admin@gmail.com
                    </li>
                    <li>
                        Password: Admin*1234
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-sm-3 border text-center">
            <h4>Links</h4>
            <h6>Use one of the following links to contact me</h6>
            <hr />
            <ul class="pt-3 pr-5" style="list-style:inside;">
                <li>
                    <a href="https://github.com/elaimaz" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://elaimaz.itch.io/" target="_blank">Itch.io</a>
                </li>
                <li>
                    <a>Email: fariawesley4@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>